/*
!src/
src/*~
src/git.info
!build/
build/*
!build/*.mk
!doc/
doc/*
!doc/*.md
!doc/doxygen
!doc/tex
doc/tex/*
!doc/tex/*.tex
!doc/tex/*.bbl
!doc/tex/*.bib
!doc/tex/Makefile
!doc/tex/img
!doc/examples
!doc/examples/*.in
!.gitignore
!*.md
!install-deps-linux.sh
