/*
!src/
src/*~
!build/
build/*.o
!doc/
doc/*
!doc/*.md
!doc/*.tex
!doc/*.pdf
!doc/*.sh
!.gitignore
!Makefile
!makefile
!*.md
!hartreeFock.in
!dmeXsection.in
!fitParametric.in
!testWig.in
!.clang-format
