// Example input file. Lines with "//" are ignored
// Comment out an entire block (or just its name) to skip block
// Tip: Tell you editor this is a cpp file [colouring + commenting shortcuts]

Atom {
  Z = Cs;
  A;
}

HartreeFock {
  core = [Xe];
  valence = 7sp;
}

Nucleus {
  rrms; // Will look-up default value
  type; // Fermi (dflt), spherical, point
}

Grid {
  r0 = 1e-6;
  rmax = 120.0;
  num_points = 1600;
}

// dVpol { a_eff = 0.0; } // effective pol. op.

// RadPot
{
  RadPot = false;
  Simple = 0.0; // "Simple" exponential potential
  Ueh = 1.0;
  SE_h = 1.0;
  SE_l = 1.0;
  SE_m = 1.0;
  rcut = 5.0;
  scale_l = 1, 1, 1; // extra scaling for s,p,d states (and so on)
  core_qed = true;
}

// Basis
{
  number = 40;
  order = 7;
  r0 = 1.0e-4;
  r0_eps = 1.0e-6; // set r0 when core density below eps
  rmax = 30.0;
  print = false;
  positron = false;
  states = 30spdfg;
}

// Correlations
{
  energyShifts = false;
  Brueckner = false;
  n_min_core = 3;
  fitTo_cm;
  lambda_k;
}

/////////////////////////////////////////////////////////////////
// Modules:

Module::Tests {}

// MatrixElements::E1 {}
// MatrixElements::E1 {omega = -1;}

// MatrixElements::hfs { F(r) = pointlike; rpa = false; }
// Module::pnc { transition = 6, -1, 7, -1; rpa = true; }
// Module::pnc { transition = 6, -1, 5, 2; rpa = true; }

// Module::BohrWeisskopf{}

// Module::WriteOrbitals { label = outputLabel; }
