// Example input file. Lines with "//" are ignored
// Comment out an entire block (or just its name) to skip block
// Tip: Tell you editor this is a cpp file [colouring + commenting shortcuts]

Atom {
  Z = Cs;
  A;
}

HartreeFock {
  core = [Xe];
  valence = 7sp;
}

Nucleus {
  rrms; // Will look-up default value
  type; // Fermi (dflt), spherical, point
}

Grid {
  r0 = 1e-6;
  rmax = 120.0;
  num_points = 2000;
}

// dVpol { a_eff = 0.0; } // effective pol. op.

// RadPot
{
  Ueh = 1.0;
  SE_h = 1.0;
  SE_l = 1.0;
  SE_m = 1.0;
  rcut = 5.0;
}

// Basis
{
  number = 50;
  order = 7;
  r0 = 1.0e-5;
  r0_eps = 1.0e-7; // set r0 when core density below eps
  rmax = 50.0;
  print = false;
  positron = false;
  states = 40spd;
}

Correlations {
  energyShifts = false;
  Brueckner = false;
  n_min_core = 3;
}

/////////////////////////////////////////////////////////////////
// Modules:

Module::Tests {}

// MatrixElements::E1 {}
// MatrixElements::hfs { F(r) = pointlike; rpa = false; }

// Module::pnc { transition = 6, -1, 7, -1; rpa = true; }
// Module::pnc { transition = 6, -1, 5, 2; rpa = true; }

// Module::BohrWeisskopf{}

// Module::WriteOrbitals { label = outputLabel; }
