UnitTests{
  // This example will run only the 'DiracODE' tests
  default = false;
  DiracODE = true;
  HartreeFock;
  MixedStates;
  ExternalField;
  RadPot;
  Angular;
  LinAlg;
  BSplineBasis;
  Coulomb;
  CorrelationPotential;
}
