name: Build

on:
  push:
    branches:
      - main
  pull_request:

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v1

    - name: "Install dependencies"
      run: |
        sudo apt-get install -y make 
        sudo apt-get install -y g++-7 
        sudo apt-get install -y g++-11 --fix-missing
        sudo apt-get install -y clang-6.0 
        sudo apt-get install -y clang-11 --fix-missing
        sudo apt-get install -y liblapack-dev 
        sudo apt-get install -y libblas-dev 
        sudo apt-get install -y libgsl-dev 
        sudo apt-get install -y libomp-dev

    - name: setup
      run: cp ./doc/examples/Makefile ./ && cp ./doc/examples/ampsci.in ./ampsci.in

    - name: Build ampsci (g++ v:7 - oldest supported gcc)
      run: make clean && make CXX=g++-7  UseOpenMP=no

    - name: Build ampsci (g++ v:11)
      run: make clean && make CXX=g++-11 UseOpenMP=yes

    - name: Run ampsci (g++)
      run: ./ampsci ampsci.in

    - name: Build ampsci (clang++ v:6, - oldest supported clang)
      run: make clean && make CXX=clang++-6.0 UseOpenMP=no

    - name: Build ampsci (clang++ v:11)
      run: make clean && make CXX=clang++-11 UseOpenMP=no

    - name: Run ampsci (clang++)
      run: ./ampsci ampsci.in
