name: Coverage

on:
  push:
    branches: [ "main", "dev" ]
    # branches: [ "TestWorkflows" ]
  pull_request:
    branches: [ "main", "dev" ]

jobs:
  coverage:

    # lcov setup for g++-11, which is in 22.04
    # This will have to be updated with GitHub updates its runners
    runs-on: ubuntu-22.04


    steps:
    - uses: actions/checkout@v4

    # Step 1: Install required dependencies
    # This step installs all the necessary tools, compilers, and libraries
    - name: "Install dependencies"
      continue-on-error: true
      run: |
        set -x
        sudo apt-get update -y
        sudo apt-get install -y g++-11
        sudo apt-get install -y make
        sudo apt-get install -y liblapack-dev
        sudo apt-get install -y libblas-dev
        sudo apt-get install -y libgsl-dev
        sudo apt-get install -y libomp-dev
        sudo apt-get install -y lcov

    # Step 2: Set up the environment
    # This step prepares the environment by copying necessary files and setting permissions
    - name: setup
      continue-on-error: true
      run: cp ./doc/Makefile ./ && chmod +x ./src/tests/lcov.sh 

    # Step 3: Build the project and generate coverage report
    # This step compiles the project and uses LCOV to generate a coverage report
    - name: Build ampsci & use LCOV to prepare report
      continue-on-error: true
      run: ./src/tests/lcov.sh

    # Step 4: Upload coverage report to Codecov
    # This step uploads the coverage report to Codecov for visualization
    - name: Upload coverage to Codecov
      continue-on-error: true
      if: github.event_name == 'push' && github.ref == 'refs/heads/main'
      uses: codecov/codecov-action@v4