name: Coverage

on:
  push:
    branches:
      - main

jobs:
  coverage:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v3
    - name: "Install dependencies"
      run: |
        sudo apt-get install -y g++-9
        sudo apt-get install -y make
        sudo apt-get install -y liblapack-dev
        sudo apt-get install -y libblas-dev
        sudo apt-get install -y libgsl-dev
        sudo apt-get install -y libomp-dev
        sudo apt-get install -y lcov
    - name: setup
      run: cp ./doc/examples/Makefile ./ && chmod +x ./src/tests/lcov.sh 
    - name: Build ampsci & use LCOV to prepare report
      run: ./src/tests/lcov.sh
    - name: Upload coverage to Codecov
      uses: codecov/codecov-action@v2