name: Build (MacOS)

on:
  push:
    branches: [ "main", "dev" ]
    # branches: [ "TestWorkflows" ]
  pull_request:
    branches: [ "main", "dev" ]

jobs:
  build:

    runs-on: macos-latest

    steps:
    - uses: actions/checkout@v4

    - name: "Install dependencies (Use Homebrew)"
      # continue-on-error: true
      run: |
        set -x
        chmod +x ./install-dependencies.sh
        ./install-dependencies.sh --yes

    - name: "Run using configure.sh (latest g++ with openMP)"
      run: |
        set -x
        chmod +x ./configure.sh
        ./configure.sh --yes
        make
        ./ampsci -v
        ./ampsci Cs [Xe] 7sp

    - name: "Run unit tests"
      run: |
        make tests
        ./tests \[unit\]

    - name: "Run in dev mode"
      run: |
        set -x
        make Build=dev ampsci tests
        ./ampsci Cs [Xe] 7sp

    - name: "Run using standard Apple Clang (CLT), no openMP"
      run: |
        set -x
        make clean && make CXX=clang++ OMPLIB= ampsci tests
        ./ampsci -v
        ./ampsci Cs [Xe] 7sp
        ./tests \[unit\]
