name: Tests

on:
  push:
    branches: [ "main", "dev" ]
    # branches: [ "TestWorkflows" ]
  pull_request:
    branches: [ "main", "dev" ]

jobs:
  tests:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4

    - name: "Install dependencies"
      run: |
        set -x
        sudo apt-get update -y
        sudo apt-get install -y make
        sudo apt-get install -y g++
        sudo apt-get install -y clang-15
        sudo apt-get install -y liblapack-dev
        sudo apt-get install -y libblas-dev
        sudo apt-get install -y libgsl-dev
        sudo apt-get install -y libomp-15-dev

    - name: setup
      run: ./configure.sh --yes

    - name: Build ampsci (clang++)
      run: |
        make clean
        make CXX='clang++-15' OMPLIB=-fopenmp tests

    - name: Run unit tests (clang++)
      run: ./tests [unit]

    - name: Build ampsci (g++)
      run: |
        make clean
        make CXX='g++' OMPLIB=-fopenmp tests

    - name: Run tests on g++ (all except slow)
      if: github.ref == 'refs/heads/main'
      run: ./tests "~[slow]"

    - name: Run unit tests only (g++)
      if: github.ref != 'refs/heads/main'
      run: ./tests "[unit]"

